.example-card {
    position: relative;
    max-width: 300px;
    background-color: white;
    color: black;
    top: 25px;
     left: 20px;
  }
  
.body{
    position: relative;
    // padding: 5px 5px 10px 5px;
    background-color: lightgrey;
    height: 100%;
}