   <div fxLayout="row wrap" fxLayoutAlign="space-between" class="body">
      <mat-list class="list-items">
        <mat-list-item (click)="run()"> Pepper </mat-list-item>
        <mat-list-item> Salt </mat-list-item>
        <mat-list-item> Paprika </mat-list-item>
       </mat-list>
       
       <button mat-fab color="primary" aria-label="Example icon button with a delete icon" class="btn-create" >
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="openDialog()">create</mat-icon>
      </button>
  </div>
    <!-- <div style="height: 70%; width: 70%;" style="display: block"> -->
   
    <!-- </div> -->